body {
  background-image: url(../images/ghana.jpeg); 
}

h1 {
  color: rgb(41, 159, 196);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.bgimage
{
  background-image:url(../images/ghana.jpeg) ;
  background-repeat:no-repeat;
  height: auto;
  width: auto;
  position:relative;
}